<!DOCTYPE html>
<html>
<body>

<h2>Python Calculator Project</h2>

<form action="/math" method="POST">
<form>
  <label for="fnumber">First Number:</label><br>
  <input type="text" id="fnum" name="fnum"><br>
  <label for="snumber">Second Number:</label><br>
  <input type="text" id="snum" name="snum"><br>
  <label for="operation">Choose Your Operation:</label><br>
  <select id="operation" name="operation">
  	<option value="add">Add</option>
    <option value="substart">Substart</option>
    <option value="multiply">Multiply</option>
    <option value="divide">Divide</option>
  </select><br>
  <input type="submit" value="Submit">
</form>

<p>Note that the form itself is not visible.</p>

<p>Also note that the default width of text input fields is 20 characters.</p>

</body>
</html>